*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: black;
}

main{
    display: block;
    background-color: #0d192b;
    height: 540px;
    width: 320px;
    margin: 5% auto;
    border-radius: 20px;
}

.equilibrium{
    margin: 25px 60px 0 25px;
    border-radius: 10px;
}

.fundo{
    position: relative;
}

.frente{
    background-color:#23d2d7;
    height: 270px;
    width: 270px;
    margin: 25px 60px 0 25px;
    border-radius: 10px;
    padding-bottom: -25px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 1;
}

.fundo:hover .frente{
    visibility: visible;
    opacity: none;
}

.view{
    margin: 105px;   
}

.conteudo{
    margin: 30px;
}

h3{
    color: white ;
    margin-bottom: 20px;
}

h3:hover{
    color: #23d2d7;
    cursor: pointer;
}

p {
    color: #8bacda;
    margin-bottom: 20px ;
}

.icones ul,p{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #8bacda;
    margin-bottom: 15px;
}

.icone01{
    color:#23d2d7;
}

hr{
    border: solid 1px #8bacda3b;
}

span{
    color: white ;
}

span:hover{
    color: #23d2d7;
    cursor: pointer;
}

.rodape{
    display: flex;
    margin-top: -40px;
}

.rodape p{
    font-size: 0.9em;
    margin: 30px;
    align-items: center;
}

.rodape img{
    border: solid 1px white;
    border-radius: 100%;
    margin-right: 15px;
    
}



